
<launch>
  <include file="$(find final_description)/launch/display.launch" />
  <include file="$(find johnny5_controller)/launch/navigation.launch" />
  <include file="$(find johnny5_controller)/launch/neato.launch" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_neato" args="0 0 0 3.14159265359 0 0 base_laser neato_laser 100" />
   <node name="base_controller" pkg="johnny5_controller" type="base_controller" output="screen">
    <rosparam file="$(find johnny5_controller)/config/my_base_controller_params.yaml" command="load" />
   </node>
   <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
   </node>
</launch>

