<launch>
<param
    name="robot_description"
    textfile="$(find final_description)/robots/final_description.URDF" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find final_description)/worlds/office.world"/>
</include>
<include file="$(find johnny5_controller)/launch/teleop_joy.launch"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find final_description)/robots/final_gazebo.URDF -urdf -model johnny5_controller -z .5"
    output="screen" />
</launch>
